body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#root {
  width: 70%;
}

nav {
  width: 100%;
  margin: 2em auto;
  /*   display: flex;
  justify-content: space-between;
  align-items: center; */
}
h1 {
  text-align: center;
}
nav p {
  text-align: right;
}
.number {
  height: 200px;
  width: 200px;
  background-color: gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  padding: 0.5em;
}
.even {
  background-color: indianred;
}
.odd {
  background-color: khaki;
}
.buttons {
  display: flex;
  justify-content: center;
  margin: 3em;
  padding: 2em;
}
footer {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
