#root {
  text-align: center;
  color: black;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 2em;
}

#search input {
  width: 30vw;
  height: 4vh;
  border-radius: 5px;
  outline: none;
  border-style: groove;
}
main {
  width: 80%;
  margin: 0 auto;
}
.box {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: chocolate;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}

.animal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.animalCard:hover {
  box-shadow: 10px 10px 10px #333;
  transition: ease-in;
}

.animalCard {
  background-color: brown;
  box-shadow: 0 0 5px #333;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: antiquewhite;
  border-radius: 15px;
}
.animalCard img {
  width: 250px;
  margin: 1em auto;
}

button {
  cursor: pointer;
}
