@import url(https://fonts.googleapis.com/css?family=Kiwi+Maru:300,regular,500);

body {
  font-family: "Kiwi Maru";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: black;
}
ul {
  background-color: black;
  height: 7vh;
}

input {
  font-family: "Kiwi Maru";
  margin: 3em;
  padding: 1em;
}
