.App {
  text-align: center;
}

.circleGroup {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  margin: 1em;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: gray;
}

.green {
  background-color: green;
}
.black {
  background-color: black;
}
.orange {
  background-color: orange;
}
.pink {
  background-color: pink;
}

.active {
  background-color: yellow;
  background-image: url(https://i.gifer.com/WiCJ.gif);
  background-size: cover;
}

.gameOver {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.result {
  background-color: lightcoral;
  margin: 3.5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: dotted;
  width: 80%;
  height: 80%;
  border-radius: 10px;
}

#close {
  top: 0;
  right: 0;
  position: absolute;
  margin: 0.5em auto;
  background-color: transparent;
  border: transparent;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}
